name: Preprocess Dataset

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy scikit-learn

      - name: Run preprocessing
        run: |
          python preprocessing/automate_Yohani.py

      - name: Upload output as artifact
        uses: actions/upload-artifact@v4
        with:
          name: telco_preprocessed_dataset
          path: preprocessing/TelcoCustomer_preprocessing
